<div class="foto-fondo" [ngStyle]="{ 'background-image': imagen_fondo }"></div>
<div class="container-fluid h-50">
  <div class="row h-100">
    <div class="col-12 col-md-6 ml-auto pt-3 text-center parrafo-home bg-alfa">
      <h6 class=""><small>Iniciada en el arte desde muy joven, su obra eclosiona en sus 30 años. Desde entonces, ha transitado la pintura y la escultura con las más variadas técnicas y un estilo personalísimo.<br>Tanto su formación, eminentemente autodidacta, como su recorrido se alejan de los senderos habituales. Estamos ante una creadora de pulsión racial y crudeza, una artista clásica en su lealtad creativa y contemporánea en sus formas.<br>Sus composiciones trascienden lo bidimensional de la pintura para incorporar elementos cotidianos en una suerte de relieve hiperrealista: herramientas, alimentos, fármacos y  colores en cada uno de sus trazos, dando vida a cualquier resto u objeto encontrado a su paso. Así, hallamos en sus obras ese equilibrio extraño entre sofisticación y naïvité que ha forjado su estilo, el que ella misma llama Abstractismo sensorial.</small></h6>
    </div>
  </div>
</div>
<div class="d-none d-md-block fixed-bottom foto-home h-50 w-25"></div>
