/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin-ext');

body{
    font-family: 'Lora', serif;
    background-color: #f9f8f0;
    color: #860930;
}
